/** Add css rules here for your application. */
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
      
  }
  
  body{
  	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url(waves.jpg);
  }


  .names {
    text-align: center;
    vertical-align: middle;
  }

  .program {
    margin-top: 20px;
    text-align: center;
  }

  input[type="text"],
  select {
    
    width: 240px;
    min-width: 240px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
  }

  input[type="submit"] {
    width: 240px;
    min-width: 240px;
    background-color: white;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }



  .form{
      text-align: center;
  }

.my-gwt-button {
	font-size: 150% !important;
	background-color: #393650;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	border-radius: 8px;
	border:none;
	
}

.my-gwt-button:hover {
	cursor: pointer;
}


  .vehicle{
  	margin: auto;
    //margin: 0;
    margin-top: 5px;
    width: 480px;
    padding: 5px;
    border-radius: 7px;
    color: black;
    text-align: left;
    background-color: rgba(255,255,255, 0.5);
    vertical-align: middle;
    padding-bottom: 40px;
    
  }
  
  
  
  .header{
    margin: auto;
    margin-top: 5px;
    background-color: white;
    width: 480px;
    height: 32px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    text-align: left;
    background-color: rgba(4,4,4,0.45);
    
	
	
  }
  
  .header:hover{
  	cursor: pointer;
  }
  
  .right{
  	display: inline-block;
  	float:right;
  	margin: 0;
  	vertical-align: middle;
  }
  .left{
  	display: inline-block;
  	float:left;
  	margin: 0;
  	vertical-align: middle;
  }

  .buss{
      margin:0;
      font-size: 15px;
  }
  
  .identifier{
  	font-size: 25px;
  	margin:0;
  }
  
  .iconVehicle{
  	margin-top: 10px;
  	text-align: center;
  	
  }
  
  
  .wrapper{
  	
  	display: table;
  	width: 100%;
  	table-layout: fixed;
  	margin-left: 40px;
  	
  	vertical-align: top;
  	margin-top: 10px;
  	font-weight: bold;
   
  	
  }
  
  .row{
  	display: table-row;
  	table-layout: fixed;
  	
  }
  
  .avg{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }
  
  .hall{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }
  
  .lage{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }
  
  .tid{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }


.bokaresa{
	background-color: #44c767;
	border-radius: 7px;
	
	cursor: pointer;
	color: #ffffff;
	
	font-size: 17px;
	padding: 10px 10px;
	text-decoration: none;
	
	margin:0 auto;
    display:block;
    border:none;
    margin-top: 20px;
    margin-bottom: 20px;
}

 
  
.gwt-RadioButton {
	
}

.gwt-RadioButton-disabled {
  	
}










@media screen and (max-width: 500px) {
  * {
    font-family: 'Montserrat', sans-serif;
      font-size: 13px;
  }
  
  body{
  	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url(waves.jpg);
  }

  .names {
    text-align: center;
    vertical-align: middle;
  }

  .program {
    margin-top: 20px;
    text-align: center;
  }

  input[type="text"],
  select {
    
    width: 800px;
    min-width: 800px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
  }

  input[type="submit"] {
    width: 800px;
    min-width: 800px;
    background-color: white;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }



  .form{
      text-align: center;
  }

.my-gwt-button {
	font-size: 150% !important;
	background-color: #393650;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	border-radius: 8px;
	border:none;
	
}

.my-gwt-button:hover {
	cursor: pointer;
}


  .vehicle{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 800px;
    padding: 5px;
    border-radius: 7px;
    color: black;
    text-align: left;
    background-color: white;
    vertical-align: middle;
    
  }
  
  
  
  .header{
    margin: auto;
    margin-top: 5px;
    background-color: white;
    width: 800px;
    height: 50px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    text-align: center;
    background-color: rgba(4,4,4,0.45);
    
	
	
  }
  
  .header:hover{
  	cursor: pointer;
  }
  
  .right{
  	display: inline-block;
  	float:right;
  	margin: 0;
  	vertical-align: middle;
  }
  .left{
  	display: inline-block;
  	float:left;
  	margin: 0;
  	vertical-align: middle;
  }

  .buss{
      margin:0;
  }
  
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    float: right;
	background-color: #393650;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	border-radius: 8px;
	border:none;
	
}

.buy{
	float: right;
}

.tid{
	width:50px;
    min-width:50px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
}


 
  
.gwt-RadioButton {
	
}

.gwt-RadioButton-disabled {
  	
}
}




