/** Add css rules here for your application. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar { 
    display: none; 
}




* {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
      
  }
  
  body{
  	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url(waves.jpg);
    
  }


  .names {
    text-align: center;
    vertical-align: middle;
  }

  .program {
    margin-top: 20px;
    text-align: center;
  }

  input[type="text"],
  select {
    
    width: 235px;
    min-width: 235px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 2px;
    margin-right: 2px;
  }

  input[type="submit"] {
    width: 235px;
    min-width: 235px;
    background-color: white;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }



  .form{
      text-align: center;
  }

.my-gwt-button {
	
	margin-top: 30px;
	margin-bottom: 25px;
	
	box-shadow:inset 0px 0px 14px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:7px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.my-gwt-button:hover {
	cursor: pointer;
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}


  .vehicle{
  	font-family: 'Montserrat', sans-serif;
  	font-size: 13px;
  	font-weight: bold;
  	margin: auto;
    //margin: 0;
    margin-top: 5px;
    width: 480px;
    padding: 5px;
    border-radius: 7px;
    color: black;
    text-align: left;
    background-color: rgba(255,255,255, 0.7);
    vertical-align: middle;
    padding-bottom: 40px;
    
  }
  
  
  
  .header{
  	font-family: 'Montserrat', sans-serif;
  	font-size: 13px;
  	
    margin: auto;
    margin-top: 5px;
    background-color: white;
    width: 480px;
    height: 32px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    text-align: left;
    background-color: rgba(4,4,4,0.45);
    vertical-align: middle;

  }
  
  .header:hover{
  	cursor: pointer;
  	background-color: rgba(1,1,1,0.7);
  }
  
  .right{
  	display: inline-block;
  	float:right;
  	margin: 0;
  	vertical-align: middle;
  }
  .left{
  	display: inline-block;
  	float:left;
  	margin: 0;
  	vertical-align: middle;
  }

  .buss{
      margin:0;
      font-size: 15px;
  }
  
  .identifier{
  	font-size: 25px;
  	margin:0;
  	vertical-align: middle;
  }
  
  .iconVehicle{
  	margin-top: 10px;
  	text-align: center;
  	vertical-align: middle;
  	
  }
  
  
  .wrapper{
  	
  	display: table;
  	width: 100%;
  	table-layout: fixed;
  	margin-left: 40px;
  	
  	vertical-align: top;
  	margin-top: 10px;
  	font-weight: bold;
   
  	
  }
  
  .row{
  	display: table-row;
  	table-layout: fixed;
  	
  }
  
  .avg{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }
  
  .hall{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }
  
  .lage{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }
  
  .tid{
  	display: table-cell;
  	vertical-align: top;
  	padding: 0;
  }


.bokaresa{
	margin-top: 30px;
	margin-bottom: 25px;
	
	box-shadow:inset 0px 0px 14px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:7px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	
	
    display:block;
    border:none;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.bokaresa:hover{
	cursor: pointer;
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
 
  


.radio{
	
	margin-top: 30px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
  	font-size: 13px;
  	text-align: center; 
  	vertical-align: middle;
  	horizontal-align: center;
  	align: center;
}

.boxpanel{
	text-align: center; 
  	vertical-align: middle;
  	horizontal-align: center;
  	align: center;
}

.listbox{
	width: 155px;
    min-width: 155px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
    
}







@media screen and (max-width: 500px) {
  * {
    font-family: 'Montserrat', sans-serif;
      font-size: 13px;
  }
  
  body{
  	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url(waves.jpg);
  }

  .names {
    text-align: center;
    vertical-align: middle;
  }

  .program {
    margin-top: 20px;
    text-align: center;
  }

  input[type="text"],
  select {
    
    width: 800px;
    min-width: 800px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
  }

  input[type="submit"] {
    width: 800px;
    min-width: 800px;
    background-color: white;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }



  .form{
      text-align: center;
  }

.my-gwt-button {
	font-size: 150% !important;
	background-color: #393650;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	border-radius: 8px;
	border:none;
	
}

.my-gwt-button:hover {
	cursor: pointer;
}


  .vehicle{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 800px;
    padding: 5px;
    border-radius: 7px;
    color: black;
    text-align: left;
    background-color: white;
    vertical-align: middle;
    
  }
  
  
  
  .header{
    margin: auto;
    margin-top: 5px;
    background-color: white;
    width: 800px;
    height: 50px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    text-align: center;
    background-color: rgba(4,4,4,0.45);
    
	
	
  }
  
  .header:hover{
  	cursor: pointer;
  }
  
  .right{
  	display: inline-block;
  	float:right;
  	margin: 0;
  	vertical-align: middle;
  }
  .left{
  	display: inline-block;
  	float:left;
  	margin: 0;
  	vertical-align: middle;
  }

  .buss{
      margin:0;
  }
  
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    float: right;
	background-color: #393650;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	border-radius: 8px;
	border:none;
	
}

.buy{
	float: right;
}

.tid{
	width:50px;
    min-width:50px;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
}


 
  
.gwt-RadioButton {
	
}

.gwt-RadioButton-disabled {
  	
}
}




